<a href="https://colab.research.google.com/github/TheProgrammingArchive/ML-Projects/blob/main/Titanic_Disaster_C1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import modules required
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# Read train data
train_data = pd.read_csv('/content/train.csv')
train_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
# Removing irrelevant columns
train_data = train_data.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)

In [ ]:
# Remove null
train_data = train_data.dropna()
train_data = train_data.reset_index()

train_data

,level_0,index,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,0,1,1,1,female,38.0,1,0,71.2833,C
1,1,3,1,1,female,35.0,1,0,53.1000,S
2,2,6,0,1,male,54.0,0,0,51.8625,S
3,3,10,1,3,female,4.0,1,1,16.7000,S
4,4,11,1,1,female,58.0,0,0,26.5500,S
...,...,...,...,...,...,...,...,...,...,...
178,178,871,1,1,female,47.0,1,1,52.5542,S
179,179,872,0,1,male,33.0,0,0,5.0000,S
180,180,879,1,1,female,56.0,0,1,83.1583,C
181,181,887,1,1,female,19.0,0,0,30.0000,S
182,182,889,1,1,male,26.0,0,0,30.0000,C

In [ ]:
# Splitting training data
X_train = train_data.drop('Survived', axis=1)
y_train = train_data['Survived']

In [ ]:
X_train, y_train

(     level_0  index  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
 0          0      1       1  female  38.0      1      0  71.2833        C
 1          1      3       1  female  35.0      1      0  53.1000        S
 2          2      6       1    male  54.0      0      0  51.8625        S
 3          3     10       3  female   4.0      1      1  16.7000        S
 4          4     11       1  female  58.0      0      0  26.5500        S
 ..       ...    ...     ...     ...   ...    ...    ...      ...      ...
 178      178    871       1  female  47.0      1      1  52.5542        S
 179      179    872       1    male  33.0      0      0   5.0000        S
 180      180    879       1  female  56.0      0      1  83.1583        C
 181      181    887       1  female  19.0      0      0  30.0000        S
 182      182    889       1    male  26.0      0      0  30.0000        C

 [183 rows x 9 columns], 0      1
 1      1
 2      0
 3      1
 4      1
       ..
 178    1
 179    0
 180    1
 181    1
 182    1
 Name: Survived, Length: 183, dtype: int64)

In [ ]:
# Normalizing data
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler

ct = make_column_transformer(
    (OneHotEncoder(), ['Sex', 'Embarked', 'Pclass']),
    (MinMaxScaler(), ['Age', 'Fare'])
)

ct.fit(X_train)

X_train_ = ct.transform(X_train)

In [ ]:
# Building a model
model = tf.keras.Sequential([
  tf.keras.layers.Dense(100),
  tf.keras.layers.Dense(50),
  tf.keras.layers.Dense(10),
  tf.keras.layers.Dense(1)
])

# Compiling
model.compile(loss=tf.keras.losses.mae,
              optimizer=tf.keras.optimizers.Adam(lr=0.0001),
              metrics=['mae'])

# Fit
model.fit(X_train_, y_train, epochs=200)

Epoch 1/200

/usr/local/lib/python3.7/dist-packages/keras/optimizer_v2/adam.py:105: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(Adam, self).__init__(name, **kwargs)

6/6 [==============================] - 0s 3ms/step - loss: 0.5243 - mae: 0.5243
Epoch 2/200
6/6 [==============================] - 0s 3ms/step - loss: 0.4691 - mae: 0.4691
Epoch 3/200
6/6 [==============================] - 0s 3ms/step - loss: 0.4241 - mae: 0.4241
Epoch 4/200
6/6 [==============================] - 0s 3ms/step - loss: 0.4014 - mae: 0.4014
Epoch 5/200
6/6 [==============================] - 0s 3ms/step - loss: 0.3943 - mae: 0.3943
Epoch 6/200
6/6 [==============================] - 0s 3ms/step - loss: 0.3837 - mae: 0.3837
Epoch 7/200
6/6 [==============================] - 0s 3ms/step - loss: 0.3738 - mae: 0.3738
Epoch 8/200
6/6 [==============================] - 0s 3ms/step - loss: 0.3661 - mae: 0.3661
Epoch 9/200
6/6 [==============================] - 0s 3ms/step - loss: 0.3587 - mae: 0.3587
Epoch 10/200
6/6 [==============================] - 0s 5ms/step - loss: 0.3511 - mae: 0.3511
Epoch 11/200
6/6 [==============================] - 0s 3ms/step - loss: 0.3440 - mae: 0.3440
Epoch 12/200
6/6 [==============================] - 0s 3ms/step - loss: 0.3365 - mae: 0.3365
Epoch 13/200
6/6 [==============================] - 0s 3ms/step - loss: 0.3281 - mae: 0.3281
Epoch 14/200
6/6 [==============================] - 0s 3ms/step - loss: 0.3211 - mae: 0.3211
Epoch 15/200
6/6 [==============================] - 0s 4ms/step - loss: 0.3137 - mae: 0.3137
Epoch 16/200
6/6 [==============================] - 0s 4ms/step - loss: 0.3068 - mae: 0.3068
Epoch 17/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2989 - mae: 0.2989
Epoch 18/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2912 - mae: 0.2912
Epoch 19/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2843 - mae: 0.2843
Epoch 20/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2804 - mae: 0.2804
Epoch 21/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2728 - mae: 0.2728
Epoch 22/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2715 - mae: 0.2715
Epoch 23/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2684 - mae: 0.2684
Epoch 24/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2681 - mae: 0.2681
Epoch 25/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2662 - mae: 0.2662
Epoch 26/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2644 - mae: 0.2644
Epoch 27/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2630 - mae: 0.2630
Epoch 28/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2633 - mae: 0.2633
Epoch 29/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2627 - mae: 0.2627
Epoch 30/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2608 - mae: 0.2608
Epoch 31/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2612 - mae: 0.2612
Epoch 32/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2608 - mae: 0.2608
Epoch 33/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2620 - mae: 0.2620
Epoch 34/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2622 - mae: 0.2622
Epoch 35/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2616 - mae: 0.2616
Epoch 36/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2616 - mae: 0.2616
Epoch 37/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2632 - mae: 0.2632
Epoch 38/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2616 - mae: 0.2616
Epoch 39/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2616 - mae: 0.2616
Epoch 40/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2596 - mae: 0.2596
Epoch 41/200
6/6 [==============================] - 0s 5ms/step - loss: 0.2609 - mae: 0.2609
Epoch 42/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2627 - mae: 0.2627
Epoch 43/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2620 - mae: 0.2620
Epoch 44/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2596 - mae: 0.2596
Epoch 45/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2598 - mae: 0.2598
Epoch 46/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2592 - mae: 0.2592
Epoch 47/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2589 - mae: 0.2589
Epoch 48/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2592 - mae: 0.2592
Epoch 49/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2604 - mae: 0.2604
Epoch 50/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2625 - mae: 0.2625
Epoch 51/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2638 - mae: 0.2638
Epoch 52/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2612 - mae: 0.2612
Epoch 53/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2596 - mae: 0.2596
Epoch 54/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2603 - mae: 0.2603
Epoch 55/200
6/6 [==============================] - 0s 5ms/step - loss: 0.2596 - mae: 0.2596
Epoch 56/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2595 - mae: 0.2595
Epoch 57/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2591 - mae: 0.2591
Epoch 58/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2590 - mae: 0.2590
Epoch 59/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2599 - mae: 0.2599
Epoch 60/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2584 - mae: 0.2584
Epoch 61/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2585 - mae: 0.2585
Epoch 62/200
6/6 [==============================] - 0s 5ms/step - loss: 0.2583 - mae: 0.2583
Epoch 63/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2579 - mae: 0.2579
Epoch 64/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2586 - mae: 0.2586
Epoch 65/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2584 - mae: 0.2584
Epoch 66/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2583 - mae: 0.2583
Epoch 67/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2583 - mae: 0.2583
Epoch 68/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2580 - mae: 0.2580
Epoch 69/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2581 - mae: 0.2581
Epoch 70/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2582 - mae: 0.2582
Epoch 71/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2589 - mae: 0.2589
Epoch 72/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2584 - mae: 0.2584
Epoch 73/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2589 - mae: 0.2589
Epoch 74/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2580 - mae: 0.2580
Epoch 75/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2589 - mae: 0.2589
Epoch 76/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2594 - mae: 0.2594
Epoch 77/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2589 - mae: 0.2589
Epoch 78/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2585 - mae: 0.2585
Epoch 79/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2586 - mae: 0.2586
Epoch 80/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2592 - mae: 0.2592
Epoch 81/200
6/6 [==============================] - 0s 5ms/step - loss: 0.2595 - mae: 0.2595
Epoch 82/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2602 - mae: 0.2602
Epoch 83/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2595 - mae: 0.2595
Epoch 84/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2605 - mae: 0.2605
Epoch 85/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2595 - mae: 0.2595
Epoch 86/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2600 - mae: 0.2600
Epoch 87/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2595 - mae: 0.2595
Epoch 88/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2598 - mae: 0.2598
Epoch 89/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2591 - mae: 0.2591
Epoch 90/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2584 - mae: 0.2584
Epoch 91/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2587 - mae: 0.2587
Epoch 92/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2587 - mae: 0.2587
Epoch 93/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2599 - mae: 0.2599
Epoch 94/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2608 - mae: 0.2608
Epoch 95/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2596 - mae: 0.2596
Epoch 96/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2586 - mae: 0.2586
Epoch 97/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2586 - mae: 0.2586
Epoch 98/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2581 - mae: 0.2581
Epoch 99/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2591 - mae: 0.2591
Epoch 100/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2584 - mae: 0.2584
Epoch 101/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2588 - mae: 0.2588
Epoch 102/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2589 - mae: 0.2589
Epoch 103/200
6/6 [==============================] - 0s 5ms/step - loss: 0.2584 - mae: 0.2584
Epoch 104/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2581 - mae: 0.2581
Epoch 105/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2581 - mae: 0.2581
Epoch 106/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2578 - mae: 0.2578
Epoch 107/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2577 - mae: 0.2577
Epoch 108/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2589 - mae: 0.2589
Epoch 109/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2585 - mae: 0.2585
Epoch 110/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2584 - mae: 0.2584
Epoch 111/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2593 - mae: 0.2593
Epoch 112/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2591 - mae: 0.2591
Epoch 113/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2596 - mae: 0.2596
Epoch 114/200
6/6 [==============================] - 0s 5ms/step - loss: 0.2590 - mae: 0.2590
Epoch 115/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2584 - mae: 0.2584
Epoch 116/200
6/6 [==============================] - 0s 5ms/step - loss: 0.2583 - mae: 0.2583
Epoch 117/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2582 - mae: 0.2582
Epoch 118/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2578 - mae: 0.2578
Epoch 119/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2587 - mae: 0.2587
Epoch 120/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2589 - mae: 0.2589
Epoch 121/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2591 - mae: 0.2591
Epoch 122/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2597 - mae: 0.2597
Epoch 123/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2585 - mae: 0.2585
Epoch 124/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2585 - mae: 0.2585
Epoch 125/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2592 - mae: 0.2592
Epoch 126/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2592 - mae: 0.2592
Epoch 127/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2594 - mae: 0.2594
Epoch 128/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2601 - mae: 0.2601
Epoch 129/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2591 - mae: 0.2591
Epoch 130/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2580 - mae: 0.2580
Epoch 131/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2581 - mae: 0.2581
Epoch 132/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2585 - mae: 0.2585
Epoch 133/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2586 - mae: 0.2586
Epoch 134/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2589 - mae: 0.2589
Epoch 135/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2583 - mae: 0.2583
Epoch 136/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2583 - mae: 0.2583
Epoch 137/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2583 - mae: 0.2583
Epoch 138/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2592 - mae: 0.2592
Epoch 139/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2584 - mae: 0.2584
Epoch 140/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2590 - mae: 0.2590
Epoch 141/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2589 - mae: 0.2589
Epoch 142/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2579 - mae: 0.2579
Epoch 143/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2582 - mae: 0.2582
Epoch 144/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2580 - mae: 0.2580
Epoch 145/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2580 - mae: 0.2580
Epoch 146/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2590 - mae: 0.2590
Epoch 147/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2593 - mae: 0.2593
Epoch 148/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2591 - mae: 0.2591
Epoch 149/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2595 - mae: 0.2595
Epoch 150/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2593 - mae: 0.2593
Epoch 151/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2591 - mae: 0.2591
Epoch 152/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2617 - mae: 0.2617
Epoch 153/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2611 - mae: 0.2611
Epoch 154/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2614 - mae: 0.2614
Epoch 155/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2592 - mae: 0.2592
Epoch 156/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2585 - mae: 0.2585
Epoch 157/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2583 - mae: 0.2583
Epoch 158/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2590 - mae: 0.2590
Epoch 159/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2579 - mae: 0.2579
Epoch 160/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2579 - mae: 0.2579
Epoch 161/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2578 - mae: 0.2578
Epoch 162/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2577 - mae: 0.2577
Epoch 163/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2581 - mae: 0.2581
Epoch 164/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2585 - mae: 0.2585
Epoch 165/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2580 - mae: 0.2580
Epoch 166/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2582 - mae: 0.2582
Epoch 167/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2580 - mae: 0.2580
Epoch 168/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2576 - mae: 0.2576
Epoch 169/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2577 - mae: 0.2577
Epoch 170/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2590 - mae: 0.2590
Epoch 171/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2595 - mae: 0.2595
Epoch 172/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2595 - mae: 0.2595
Epoch 173/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2584 - mae: 0.2584
Epoch 174/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2591 - mae: 0.2591
Epoch 175/200
6/6 [==============================] - 0s 5ms/step - loss: 0.2596 - mae: 0.2596
Epoch 176/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2591 - mae: 0.2591
Epoch 177/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2584 - mae: 0.2584
Epoch 178/200
6/6 [==============================] - 0s 5ms/step - loss: 0.2595 - mae: 0.2595
Epoch 179/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2588 - mae: 0.2588
Epoch 180/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2588 - mae: 0.2588
Epoch 181/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2596 - mae: 0.2596
Epoch 182/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2594 - mae: 0.2594
Epoch 183/200
6/6 [==============================] - 0s 5ms/step - loss: 0.2596 - mae: 0.2596
Epoch 184/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2589 - mae: 0.2589
Epoch 185/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2585 - mae: 0.2585
Epoch 186/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2587 - mae: 0.2587
Epoch 187/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2586 - mae: 0.2586
Epoch 188/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2594 - mae: 0.2594
Epoch 189/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2596 - mae: 0.2596
Epoch 190/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2589 - mae: 0.2589
Epoch 191/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2585 - mae: 0.2585
Epoch 192/200
6/6 [==============================] - 0s 4ms/step - loss: 0.2586 - mae: 0.2586
Epoch 193/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2581 - mae: 0.2581
Epoch 194/200
6/6 [==============================] - 0s 3ms/step - loss: 0.2583 - mae: 0.2583
Epoch 195/200
6/6 [==============================] - 0s 9ms/step - loss: 0.2580 - mae: 0.2580
Epoch 196/200
6/6 [==============================] - 0s 9ms/step - loss: 0.2588 - mae: 0.2588
Epoch 197/200
6/6 [==============================] - 0s 10ms/step - loss: 0.2596 - mae: 0.2596
Epoch 198/200
6/6 [==============================] - 0s 11ms/step - loss: 0.2587 - mae: 0.2587
Epoch 199/200
6/6 [==============================] - 0s 12ms/step - loss: 0.2587 - mae: 0.2587
Epoch 200/200
6/6 [==============================] - 0s 10ms/step - loss: 0.2590 - mae: 0.2590

In [ ]:
# Gather test data
test_data = pd.read_csv('/content/test (1).csv')
test_id = test_data['PassengerId']
test_data = test_data.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)

In [ ]:
# Drop null
test_data = test_data.dropna()
test_data = test_data.reset_index()
test_data

     index  Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0        0       3    male  34.5      0      0    7.8292        Q
1        1       3  female  47.0      1      0    7.0000        S
2        2       2    male  62.0      0      0    9.6875        Q
3        3       3    male  27.0      0      0    8.6625        S
4        4       3  female  22.0      1      1   12.2875        S
..     ...     ...     ...   ...    ...    ...       ...      ...
326    409       3  female   3.0      1      1   13.7750        S
327    411       1  female  37.0      1      0   90.0000        Q
328    412       3  female  28.0      0      0    7.7750        S
329    414       1  female  39.0      0      0  108.9000        C
330    415       3    male  38.5      0      0    7.2500        S

[331 rows x 8 columns]

In [ ]:
# Normalize test
X_test_ = ct.transform(test_data)

In [ ]:
# Evaluate
y_preds = model.predict(X_test_)
y_preds.shape

(331, 1)

In [ ]:
y_preds_list = []
y_pred_final = []

for pred in y_preds:
  y_preds_list.append(float(pred))

for x in y_preds_list:
  y_pred_final.append(round(x))

In [ ]:
y_pred_final[2], y_preds[2]

(0, array([0.00638241], dtype=float32))

In [ ]:
len(y_preds_list)

331

In [ ]:
len(test_id), len(y_pred_final)

(418, 331)

In [ ]:
df = {
    'PassengerId':test_id.to_numpy()[0:331],
    'Survived':y_pred_final
    }

frame = pd.DataFrame(df)
frame.to_csv('AMONG.csv', index=False)